
.menu-title {
  width: 800px;               /* Set the width of the menu title */
  margin: 0 auto;             /* Center the element horizontally */
  text-align: center;         /* Center-align the text inside the element */
}

.sub-menu {
  width: 800px;               /* Set the width of the menu title */
  margin: 0 auto;             /* Center the element horizontally */
  text-align: center;         /* Center-align the text inside the element */
}


h1 { 
  text-align: center;
}


h2 {
  text-align: center;
}

h3 {
  text-align: center;
}


body {
  background-color: #ffd1a1; /* Bright pastel background */
  color: #333; /* Dark text for contrast */
  font-family: 'Times New Roman', Times, serif;
}

.accent {
  color: #ffa500; 
  /* Vibrant orange accent */
}

p { 
  color:darkblue;/* darkblue paragraph texts for readability */
  font-size: 16px;/*increasing font size for readability */
} 

h3 {
  color:darkblue; 
  font-size: 19px;
  font-family: 'Times New Roman', Times, serif;
  }

h4{color:darkblue;
  font-size: 16px;
  font-family:'Times New Roman', Times, serif;
  list-style-type: none;
  }

.centered-paragraph {
  text-align: center;
}

.centered-header {
  text-align: center;
}

.centered-span {
  text-align: center;
}

.centered-li {
  text-align:center;
  list-style-type: none;
  margin: 50px;
}

.centered-footer {
  text-align: center;
}

.centered-li {
  text-align:center;
  list-style-type: none;
  margin: 50px;
}

h1, h2, h3 {
  margin-top: 15px;    /* Space above the heading */
  margin-bottom: 15px; /* Space below the heading */
  padding: 2;          /* Typically no padding on headings */
  line-height: 2em;
}

p {
  margin-top: 15px;    /* Space above each paragraph */
  margin-bottom: 15px; /* Space below each paragraph */
  padding: 0;          /* Typically no padding on paragraphs */
  line-height: 1.5em;
}

.image-gallery {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  }

  
   